fastapi==0.115.6
httpx==0.28.1
impyla==0.22.0
psycopg[binary]==3.2.3
pydantic-settings==2.7.1
pure-sasl==0.6.2
pytest==8.3.4
python-multipart==0.0.20
rapidfuzz==3.11.0
thrift-sasl==0.4.3
uvicorn[standard]==0.34.0
